.header {
  background-color: #333;
  padding: 15px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .header-padding {
  padding: 0px 100px;
} */

.header-logo-container {
  padding-left: 200px;
  display: flex;
  align-items: center;
}

.header-logo {
  max-width: 80px;
  transition: transform 0.3s ease;
}

.header-logo:hover {
  transform: scale(1.1);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 20px;
  padding-right: 200px;
}

.header-nav-left,
.header-nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.header-nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.header-nav a:hover {
  background-color: #555;
  color: white;
}

@media (max-width: 768px) {
  .header-nav {
    flex-direction: column;
  }
  .header-nav-left,
  .header-nav-right {
    flex-direction: column;
    gap: 10px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}
