/* 포스트 전체 */
.post-view {
  max-width: 60%;
  margin: 10px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-width: 1280px;
}

.post-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #888;
}

.post-date {
  margin-right: 20px;
}

.icon {
  margin-right: 5px;
  color: #ff4500;
}

.post-author-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-author {
  font-size: 1.2rem;
  color: #555;
}

/* 내용 */
.post-content {
  padding: 20px;
  margin-top: 20px;
  line-height: 1.8;
  color: #444;
}

.post-line {
  position: relative;
  padding-right: 100px; /* 버튼 공간 확보 */
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

/* 코드 */
.post-code {
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  line-height: 1.6;
  color: #fdfdfd;
  border-radius: 5px;
  overflow-x: auto;
  background-color: #303030;
  font-family: 'Courier New', Courier, monospace;
}

.post-code-line {
  position: relative;
  padding-right: 100px; /* 버튼 공간 확보 */
  margin-bottom: 10px;
  padding: 2px 0; /* 줄 간 여백 */
  transition: background-color 0.3s;
}

.post-code-line:hover {
  background-color: #3f3f3f; /* 마우스를 올렸을 때 줄의 배경색 */
}

.post-code-line .line-number {
  color: #888; /* 줄 번호 색상 */
  margin-right: 10px; /* 줄 번호와 코드 간 여백 */
  user-select: none; /* 드래그 방지 */
}

/* 드래그 방지 */
.non-drag {
  user-select: none;
}

.language-icon {
  max-width: 40px; /* 최대 너비 설정 */
  margin-left: 10px;
}

/* 코드 실행 결과 */
.post-result {
  padding: 20px;
  margin-top: 20px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.post-result h2 {
  margin-bottom: 10px;
}

.post-result pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* 하트 아이콘 스타일 */
.icon {
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.icon:hover {
  transform: scale(1.2);
  color: #ff4500;
}

.icon.active {
  color: #ff4500;
}

/* like-message 스타일 */
.like-message {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 1.2rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.like-message.show {
  opacity: 1;
}

.delete-button,
.update-button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.delete-button {
  background-color: #ff4757;
  color: white;
}

.update-button {
  background-color: #1e90ff;
  color: white;
}

.delete-button:hover {
  background-color: #e04040;
  transform: translateY(-1px);
}

.update-button:hover {
  background-color: #187bcd;
  transform: translateY(-1px);
}
