/* home_main.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  padding: 0px 200px;
}

.home_left {
  width: 20%;
  padding: 20px;
}

.ranking {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.ranking h2 {
  margin-top: 0;
  display: flex;
  align-items: center;
}

.tooltip {
  display: none;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}

.ranking h2:hover .tooltip {
  display: block;
}

.ranking-list {
  list-style: none;
  padding: 0;
}

.ranking-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s;
}

.ranking-list li:last-child {
  border-bottom: none;
}

.ranking-list li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.ranking-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ranking-user-id {
  font-weight: bold;
}

.ranking-contribution {
  color: #888;
}

.home_mid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 20px 20px;
}

.post {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
  margin-top: 0;
}

.postcode {
  list-style: none;
  padding: 0;
}

.postcode li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s;
}

.postcode li:hover,
.post-list li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.postcode li:last-child {
  border-bottom: none;
}

.home_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px 20px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home_right:hover {
  background-color: #191919;
}

.home_right svg {
  font-size: 60px;
  margin-bottom: 10px;
}

.home_right div {
  font-size: 18px;
  font-weight: bold;
}

.post-main-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-main-title {
  flex: 3;
}

.post-main-user-name {
  flex: 1;
  text-align: center;
}

.post-main-date {
  flex: 1;
  text-align: right;
}

.post-main-language-icon {
  max-width: 25px;
  margin-left: 10px;
}

.tooltip-icon {
  margin-left: 5px;
  cursor: pointer;
  position: relative;
}
