.home-container {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  min-width: 1280px;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide-button {
  position: absolute; /* 이미지 위에 버튼을 위치 */
  bottom: 10%;
  left: 85%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  color: #191919;
  font-weight: bold;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  z-index: 2; /* 버튼이 이미지 위에 나타나도록 z-index */
  font-size: 15px;
  border-radius: 5px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 3; /* 버튼이 이미지 위에 나타나도록 z-index */
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-img {
  width: 100%;
  margin-bottom: 20px;
}

.end-card img {
  width: 100%;
}

/* 페이드인 추가해볼게요 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}
