.my_all{
    padding: 20px 70px; /* 위아래, 좌우 순서 */
}

.myinfo_all{
    border: 2px solid #ccc;
    margin: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.contribution-bar {
    width: 100%;
    background-color: #e0e0e0; /* 백그라운드 색상 */
    border-radius: 10px; /* 모서리를 둥글게 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    margin: 20px 0; /* 상하 여백 */
    height: 40px; /* 막대의 높이 */
}

.filled-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* 텍스트 색상 */
    font-weight: bold;
    transition: width 0.5s ease-in-out; /* 부드러운 전환 효과 */
}

.percentage-text {
    padding: 5px;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.space1{
    flex: 1;
    padding: 20px;;
    flex-direction: column;
    border-right: 2px solid #ccc;
}

.image_profile{
    text-align: center;
}

.my_profile{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 70%;
    object-fit: cover;
}

.name_zone{
    text-align: center;
}

.intro_zone{
    text-align: center;
}

.activity{
    text-align: center;
}

.modify_zone{
    text-align: right;
}

.modi_link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.modi_link:hover{
    color: #0983d5;
}

.space2{
    flex:3;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.post_zone{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.my_posts{
    flex: 1;
    text-align: center;
}

.post_title{
    flex: 4;
    height: 90%;
    background: #f9f9f9df;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.post_link_style{
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
}

.post_link_style:hover{
    color: #0983d5;
}
.comment_zone{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.my_comments{
    flex: 1;
    text-align: center;
}

.comment_title{
    flex: 4;
    height: 90%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 18px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.comment_link_style{
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
}

.comment_link_style:hover{
    color: #0983d5;
}