.poster-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.post-main-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-top, .post-mid, .post-bot {
    margin-bottom: 20px;
}

.post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-top-left {
    display: flex;
    align-items: center;
}

.new-hot div {
    background-color: #ff4757;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new-hot div:hover {
    background-color: #e04040;
}

.keyword {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.keyword li {
    background-color: #1e90ff;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.keyword li:hover {
    background-color: #187bcd;
}

.post-top-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-top-right .post_search {
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.post-top-right .post_search:hover {
    color: #1e90ff;
}

.post-top-right input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.post-top-right input:focus {
    border-color: #1e90ff;
    outline: none;
}

.post-mid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.post-cate, .post-list, .notice-list {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    margin: 0;
}

.post-cate {
    width: 15%;
}

.post-list {
    width: 85%;
}

.notice-list {
    width: 100%;
}

.post-cate h4, .post-list h4, .notice-list h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #191919;
}

.post-cate li, .post-list li, .notice-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
}

.post-cate li:hover, .post-list li:hover, .notice-list li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.post-main-language-icon {
    max-width: 25px; /* 최대 너비 설정 */
    margin-left: 10px;
}

.post-main-title {
    flex: 3; /* 제목은 더 많은 공간을 차지하도록 설정 */
}

.post-main-user-name {
    flex: 1; /* 사용자 이름은 상대적으로 적은 공간을 차지하도록 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
}

.post-main-date {
    flex: 1; /* 날짜는 상대적으로 적은 공간을 차지하도록 설정 */
    text-align: right; /* 텍스트를 오른쪽 정렬 */
}

.post-main-meta div {
    padding: 0 10px; /* 좌우 여백 추가 */
    overflow: hidden; /* 내용이 길어질 경우 숨김 */
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    text-overflow: ellipsis; /* 넘치는 텍스트는 ...으로 표시 */
}
