/* 피드백 팝업 */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  font-family: 'Arial', sans-serif;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header h3 {
  margin: 0;
  font-size: 1.5rem;
}

.popup-close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
  transition: color 0.3s;
}

.popup-close:hover {
  color: #333;
}

.warning-text {
  font-size: 0.9rem;
  color: #d9534f;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-code {
  background: #f7f7f7;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
}

.feedback-list {
  max-height: 300px; /* 높이를 늘림 */
  overflow-y: auto;
  margin-bottom: 20px;
}

.feedback-text {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  border-left: 5px solid #191919;
  display: flex;
  justify-content: space-between; /* Flexbox를 사용하여 내용과 이모티콘 사이 공간 확보 */
  align-items: center; /* 세로 정렬을 가운데로 맞춤 */
}

.feedback-nickname {
  font-weight: bold;
  color: #000000;
  margin-right: 5px;
}

.thumbs-up-icon {
  color: #aaa;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s; /* 애니메이션 추가 */
}

.thumbs-up-icon.liked {
  color: #ff4500;
  transform: scale(1.2); /* 클릭 시 크기 확대 */
}

.thumbs-up-icon:hover {
  color: #ff4500; /* 호버 시 색상 변경 */
}

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.popup-inner textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  resize: none; /* textarea 크기 조정 불가능하게 설정 */
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.popup-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
}

.submit-button {
  background-color: #333;
  color: white;
}

.cancel-button:hover {
  background-color: #bbb;
}

.submit-button:hover {
  background-color: #191919;
}
