.post-write-container {
  max-width: 80%;
  margin: 40px auto;
  padding: 40px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease;
}

.post-write-container:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.post-write-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
  color: #333;
}

.form-group input[type='text'],
.form-group textarea {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #fafafa;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* 스크롤바 숨기기 */
}

.form-group textarea {
  resize: none; /* 텍스트 영역 크기 조정 불가능하게 설정 */
  min-height: 150px;
}

.form-group input[type='text']:focus,
.form-group textarea:focus {
  border-color: #303030;
  box-shadow: 0 0 8px rgba(0, 86, 179, 0.2);
  outline: none;
  background-color: #fff;
}

.language-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  justify-content: flex-start;
}

.language-buttons button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 8px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.language-buttons button.active {
  background-color: #303030;
  color: white;
  border: 1px solid #303030;
}

.language-buttons button:hover {
  background-color: #303030;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.write-language-icon {
  max-width: 20px;
  margin-right: 10px;
}

.write-box {
  width: 48%;
}

.write-button[type='submit'] {
  width: 220px;
  background-color: #303030;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s, transform 0.3s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.write-button[type='submit']:hover {
  background-color: #191919;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.char-counter {
  font-size: 0.9rem;
  color: #666;
  text-align: right;
}

textarea {
  overflow: hidden; /* 스크롤바 숨기기 */
}

.language-selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.language-selector label {
  font-weight: bold;
}
