.post-write-container {
  max-width: 80%;
  margin: 40px auto;
  padding: 40px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease;
  min-width: 1280px;
}

.post-write-container:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.post-write-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.form-group input[type='text'],
.form-group textarea {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  resize: none;
}
.form-group-title input[type='text'],
.form-group-title textarea {
  font-size: 1.5rem;
  background-color: #ffffff;
}
.form-group-content input[type='text'],
.form-group-content textarea {
  font-size: 1rem;
  background-color: #ffffff;
}
.form-group-code input[type='text'],
.form-group-code textarea {
  font-size: 1rem;
  background-color: #303030;
  color: #fdfdfd;
}

.form-group input[type='text']:focus,
.form-group textarea:focus {
  border-color: #000;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.form-group textarea {
  resize: none; /* 텍스트 영역 크기 조정 불가능하게 설정 */
  min-height: 200px;
}

/* .language-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.language-selector label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.language-selector select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.language-selector select:focus {
  border-color: #000;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: #fff;
} */

.language-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  justify-content: flex-start;
  flex-direction: row; /* 가로 배치 */
}

.language-buttons button {
  width: 150px;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 8px;
  font-size: 1rem;
}

.language-buttons button.active {
  background-color: #303030;
  color: white;
  border: 1px solid #303030;
}

.language-buttons button:hover {
  background-color: #303030;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.write-language-icon {
  max-width: 20px;
  margin-right: 10px;
}

.write-button {
  width: 220px;
  background-color: #303030;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s, transform 0.3s;
  align-self: flex-end;
  margin-top: 20px;
}

.write-button:hover {
  background-color: #191919;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.char-counter {
  font-size: 0.9rem;
  color: #666;
  text-align: right;
  margin-top: 5px;
}
